.midi_hex {
  color: white;
}

.midi_binary {
  color: aqua;
}

.message div {
  display: inline-block;
  padding: 1px;
}

.midi_val {
    border: 1px solid #222222;
    border-radius: 5px;
    margin: 1px;
}
