<div class="widget">
  <div class="title">
    Settings
  </div>
  <div>
      MIDI Input: <select>
              <option *ngFor="let device of inputDevices" value={{device}}>
                  {{device}}
              </option>
          </select>
      </div>
      <div>
          MIDI Output: <select>
                  <option *ngFor="let device of outputDevices" value={{device}}>
                      {{device}}
                  </option>
              </select>
          </div>
  <div>
    IP: <input type="text" id="ip">
  </div>
</div>