<div>
  <div class="widget">
    <div class="title">{{"Input" | translate}}</div>
    {{"MIDI Input" | translate}}: <select>
      <option *ngFor="let device of inputDevices">
        {{device.name}}
      </option>
    </select>
  </div>
  <div class="widget">
    <div class="title">Transform</div>
    {{"Profile" | translate}}:
    <select>
      <option>Korg nanoControl</option>
      <option>Example Controller</option>
      <option>Some Other Brick</option>
    </select>
  </div>
</div>
<div>
  <div class="widget">
    <div class="title">{{"Output" | translate}}</div>
    {{"URL" | translate}}: <input type="text" id="ip">
  </div>
</div>
