.commands {
  border: 1px solid chocolate;
  padding: 2px;
  height: 300px;
  overflow: auto;
}

.command {
  border: 1px solid #222222;
  background: #222222;
  margin: 2px;
  border-radius: 5px;
  padding: 1px;
  color: white;
}

.command:hover {
  background: #333333;
}

.parameter {
  display: inline-block;
  background: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1px;
}

.parameter:hover {
  border: 1px solid #AAAAAA;
}
