/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

div,
textarea,
select {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: chocolate;
}

.title {
  background-color: #111111;
  padding: 3px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.widget {
  margin: 10px;
  padding: 10px;
  background-color: black;
}

a {
  color: #baaa9a;
}
a:hover {
  color: white;
}